In [2]:
import h5pyd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from scipy.spatial import cKDTree

In [105]:
#J82JWhLzSODJvD9bnMurt7EV35121qTaI65ci6Ph
# Open the desired year of nsrdb data
# server endpoint, username, password is found via a config file
df = pd.read_csv ('./dataset/1060699_25.77_-80.18_2019.csv', skiprows=[0,1])
df.info()

df_header = pd.read_csv ('./dataset/1060699_25.77_-80.18_2019.csv',nrows=1)
df_header.info()
pd.set_option('display.max_columns', None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 25 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Year                                         17520 non-null  int64
 1   Month                                        17520 non-null  int64
 2   Day                                          17520 non-null  int64
 3   Hour                                         17520 non-null  int64
 4   Minute                                       17520 non-null  int64
 5   DHI                                          17520 non-null  int64
 6   DNI                                          17520 non-null  int64
 7   GHI                                          17520 non-null  int64
 8   Clearsky DHI                                 17520 non-null  int64
 9   Clearsky DNI                                 17520 non-null  int64
 10  Clearsky GHI                                 17520 non-null  int64
 11  Cloud Type                                   17520 non-null  int64
 12  Dew Point                                    17520 non-null  float64
 13  Solar Zenith Angle                           17520 non-null  float64
 14  Fill Flag                                    17520 non-null  int64
 15  Surface Albedo                               17520 non-null  float64
 16  Wind Speed                                   17520 non-null  float64
 17  Precipitable Water                           17520 non-null  float64
 18  Wind Direction                               17520 non-null  int64
 19  Relative Humidity                            17520 non-null  float64
 20  Temperature                                  17520 non-null  float64
 21  Pressure                                     17520 non-null  int64
 22  Global Horizontal UV Irradiance (280-400nm)  17520 non-null  float64
 23  Global Horizontal UV Irradiance (295-385nm)  17520 non-null  float64
 24  Unnamed: 24                                  0 non-null      float64
dtypes: float64(10), int64(15)
memory usage: 3.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Source                    1 non-null      object
 1   Location ID               1 non-null      int64
 2   City                      1 non-null      object
 3   State                     1 non-null      object
 4   Country                   1 non-null      object
 5   Latitude                  1 non-null      float64
 6   Longitude                 1 non-null      float64
 7   Time Zone                 1 non-null      int64
 8   Elevation                 1 non-null      int64
 9   Local Time Zone           1 non-null      int64
 10  Clearsky DHI Units        1 non-null      object
 11  Clearsky DNI Units        1 non-null      object
 12  Clearsky GHI Units        1 non-null      object
 13  Dew Point Units           1 non-null      object
 14  DHI Units                 1 non-null      object
 15  DNI Units                 1 non-null      object
 16  GHI Units                 1 non-null      object
 17  Solar Zenith Angle Units  1 non-null      object
 18  Temperature Units         1 non-null      object
 19  Pressure Units            1 non-null      object
 20  Relative Humidity Units   1 non-null      object
 21  Precipitable Water Units  1 non-null      object
 22  Wind Direction Units      1 non-null      object
 23  Wind Speed                1 non-null      object
 24  Cloud Type -15            0 non-null      float64
 25  Cloud Type 0              1 non-null      object
 26  Cloud Type 1              1 non-null      object
 27  Cloud Type 2              1 non-null      object
 28  Cloud Type 3              1 non-null      object
 29  Cloud Type 4              1 non-null      object
 30  Cloud Type 5              1 non-null      object
 31  Cloud Type 6              1 non-null      object
 32  Cloud Type 7              1 non-null      object
 33  Cloud Type 8              1 non-null      object
 34  Cloud Type 9              1 non-null      object
 35  Cloud Type 10             1 non-null      object
 36  Cloud Type 11             1 non-null      object
 37  Cloud Type 12             1 non-null      object
 38  Fill Flag 0               0 non-null      float64
 39  Fill Flag 1               1 non-null      object
 40  Fill Flag 2               1 non-null      object
 41  Fill Flag 3               1 non-null      object
 42  Fill Flag 4               1 non-null      object
 43  Fill Flag 5               1 non-null      object
 44  Surface Albedo Units      0 non-null      float64
 45  Version                   1 non-null      object
dtypes: float64(5), int64(4), object(37)
memory usage: 496.0+ bytes

In [106]:
df_header.head()

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,Clearsky DHI Units,Clearsky DNI Units,Clearsky GHI Units,Dew Point Units,DHI Units,DNI Units,GHI Units,Solar Zenith Angle Units,Temperature Units,Pressure Units,Relative Humidity Units,Precipitable Water Units,Wind Direction Units,Wind Speed,Cloud Type -15,Cloud Type 0,Cloud Type 1,Cloud Type 2,Cloud Type 3,Cloud Type 4,Cloud Type 5,Cloud Type 6,Cloud Type 7,Cloud Type 8,Cloud Type 9,Cloud Type 10,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,NSRDB,1060699,-,-,-,25.77,-80.18,-5,0,-5,w/m2,w/m2,w/m2,c,w/m2,w/m2,w/m2,Degree,c,mbar,%,cm,Degrees,m/s,NaN,Clear,Probably Clear,Fog,Water,Super-Cooled Water,Mixed,Opaque Ice,Cirrus,Overlapping,Overshooting,Unknown,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,3.1.1

In [107]:
df.head()

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure,Global Horizontal UV Irradiance (280-400nm),Global Horizontal UV Irradiance (295-385nm),Unnamed: 24
0,2019,1,1,0,0,0,0,0,0,0,0,0,21.8,173.88,0,0.08,3.7,2.4,128,87.10,24.1,1019,0.0,0.0,NaN
1,2019,1,1,0,30,0,0,0,0,0,0,0,21.8,176.95,0,0.08,3.6,2.4,128,87.10,24.1,1019,0.0,0.0,NaN
2,2019,1,1,1,0,0,0,0,0,0,0,0,21.7,171.38,0,0.08,3.6,2.4,127,86.53,24.1,1019,0.0,0.0,NaN
3,2019,1,1,1,30,0,0,0,0,0,0,0,21.7,164.76,0,0.08,3.5,2.4,126,86.53,24.1,1019,0.0,0.0,NaN
4,2019,1,1,2,0,0,0,0,0,0,0,0,21.5,158.02,0,0.08,3.5,2.4,126,85.94,24.0,1019,0.0,0.0,NaN

In [108]:
df = df[['Year','Month', 'Day', 'Hour', 'Minute','Surface Albedo','Cloud Type', 
    'Dew Point', 'Solar Zenith Angle', 'Pressure', 'Wind Direction', 'Wind Speed', 
    'Relative Humidity', 'Temperature', 'Precipitable Water', 'GHI']]
df.head()

,Year,Month,Day,Hour,Minute,Surface Albedo,Cloud Type,Dew Point,Solar Zenith Angle,Pressure,Wind Direction,Wind Speed,Relative Humidity,Temperature,Precipitable Water,GHI
0,2019,1,1,0,0,0.08,0,21.8,173.88,1019,128,3.7,87.10,24.1,2.4,0
1,2019,1,1,0,30,0.08,0,21.8,176.95,1019,128,3.6,87.10,24.1,2.4,0
2,2019,1,1,1,0,0.08,0,21.7,171.38,1019,127,3.6,86.53,24.1,2.4,0
3,2019,1,1,1,30,0.08,0,21.7,164.76,1019,126,3.5,86.53,24.1,2.4,0
4,2019,1,1,2,0,0.08,0,21.5,158.02,1019,126,3.5,85.94,24.0,2.4,0

In [109]:
df = df[(df['Hour'] < 22) & (df['Hour'] > 5)]
df.head()

,Year,Month,Day,Hour,Minute,Surface Albedo,Cloud Type,Dew Point,Solar Zenith Angle,Pressure,Wind Direction,Wind Speed,Relative Humidity,Temperature,Precipitable Water,GHI
12,2019,1,1,6,0,0.08,0,20.7,104.90,1019,125,4.0,82.54,23.9,2.4,0
13,2019,1,1,6,30,0.08,0,20.8,98.56,1020,126,4.1,82.13,24.0,2.4,0
14,2019,1,1,7,0,0.08,3,20.8,92.34,1020,127,4.3,81.93,24.1,2.4,2
15,2019,1,1,7,30,0.08,0,20.8,86.09,1020,129,4.5,80.00,24.5,2.4,45
16,2019,1,1,8,0,0.08,0,20.9,80.32,1020,130,4.8,78.72,24.9,2.4,90

In [110]:
df.shape

(11680, 16)